body {
    background-color: #2d2d2d;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:focus { outline: none; }

.head {
    display:flex;
    align-items:center;
    margin: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.head-text {
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 20px;
}

.head-subtext {
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    padding: 12px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    margin: 20px 0px;
    border-radius: 5px;
}

.alert span {
    font-style: italic;
}

#list {
    display:flex;
    align-items:center;
    flex-wrap: wrap;
}

.stream {
    background-color: #616161;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
}

.stream.active {
    background-color: #f44336;
}

.stream:hover {
    background-color: #f44336; /* Green */
    color: white;
}