body {
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:focus { outline: none; }

.head {
    display:flex;
    align-items:center;
    margin: 10px;
    margin-bottom: 10px;
}

.head-text {
    font-weight: 600;
    font-size: 20px;
    padding: 12px;
}

.head-subtext {
    font-weight: 300;
    font-size: 20px;
    padding: 12px;
}

.alert {
    padding: 20px;
    background-color: #E50000;
    margin: 20px 0px;
    border-radius: 5px;
}